@import '../../styles/common/variables.scss';

.movie-card {
    position: relative;
    margin-bottom: 30px;
    color: $light-gray;

    &:hover {
        .movie-action-bubble {
            opacity: 1;
        }
    }
    
    .movie-poster {
        margin: 0 0 20px;
        width: 100%;
    }

    &__content {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    &__release-date {
        padding: 5px;
        margin-left: 15px;
        min-width: 75px;
        border-radius: $base-border-radius;
        border: 1px solid $gray;
        text-align: center;
        flex-shrink: 0;
    }

    .movie-title {
        margin: 0 0 10px;
        font-size: $medium-font-size;
    }

    &__genres {
        margin: 0;
    }

    .movie-action-bubble {
        position: absolute;
        top: 20px;
        right: 20px;
        opacity: 0;
        transition: opacity 0.3s;

        &:focus {
            opacity: 1;
        }
    }
}