@import '../../styles/common/variables.scss';

.sorting {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: $light-gray;

    @media (min-width: $laptop) {
        font-size: $medium-font-size;
    }
    
    .drop-box {
        margin-left: 20px;
        color: $white;

        &:before {
            right: 0;
        }
    }
    
    select {
        font-size: $base-font-size;

        @media (min-width: $laptop) {
            font-size: $medium-font-size;
        }
        
        option {
            color: $solid-black;
        }
    }
}