@import '../../Styles/common/variables.scss';

.sorting {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: $light-gray;

    @media (min-width: $laptop) {
        font-size: $medium-font-size;
    }

    select {
        padding: 0 20px 0 0;
        border: none;
        background: none;
        appearance: none;
        text-transform: uppercase;
        background: none;
        font-size: $base-font-size;
        color: $white;

        @media (min-width: $laptop) {
            font-size: $medium-font-size;
        }
        
        &::-ms-expand {
            display: none;
        }

        option {
            color: $solid-black;
        }
    }
}

.sorting-box {
    position: relative;
    margin: 0 0 0 20px;

    &:before {
        content:'';
        position: absolute;
        top: 50%;
        right: 0;
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid $primary-color;
        transform: translateY(-50%);
    }
}