@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import './variables.scss';
@import './reset.scss';

body {
    margin: 0;
    background-color: $body-background-color;
    font: 400 $base-font-size $base-font-family;
    line-height: 1.2;
    color: $base-text-color;
}

[id="root"] {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.container {
    position: relative;
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1370px;
}

.modal-open {
    overflow: hidden;

    [id="root"] {
        filter: blur(5px);
    }
}

.icon {
    vertical-align: top !important;
}