@import '../../styles/common/variables.scss';

.search {
    margin: 0 0 20px;
    width: 100%;
    text-align: center;

    @media (min-width: $tablet) {
        display: flex;
    }
    
    .button {
        min-width: 200px;
        font-weight: bold;
    }
}

.search-control {
    margin: 0 0 20px;
    width: 100%;
    padding: 5px 20px;
    height: 40px;
    flex-grow: 1;
    background-color: rgba(48, 48, 48, 0.9);
    border-radius: $base-border-radius;
    font-size: $base-font-size;
    border: none;
    color: $white;

    &::placeholder {
        color: $gray;
    }
    
    @media (min-width: $tablet) {
        margin: 0 20px 0 0;
        height: 60px;
        font-size: $medium-font-size;
    }
}