@import '../../Styles/common/variables.scss';

.filters {
    display: flex;
    text-transform: uppercase;
    
    @media (max-width: $tablet - 1px) {
        overflow-x: auto;
        border-bottom: 2px solid $solid-black;
    }

    @media (min-width: $laptop) {
        font-size: $medium-font-size;
    }
}

.filters-item {
    margin: 0 10px 0 0;
    
    a {
        display: block;
        position: relative;
        padding: 0 0 20px;
        color: $white;
        text-decoration: none;
        
        &:before {
            content:'';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 2px;
            background-color: $primary-color;
            opacity: 0;
            transition: opacity 0.3s;
        }
       
        &:hover {
            &:before {
                opacity: 1;
            }
        }
        
        @media (min-width: $tablet) {
            &:before {
                bottom: -2px;
            }
        }
    }

    &.active {
        a:before {
            opacity: 1;
        }
    }
}