@import '../../styles/common/variables.scss';

.movies-list {
    @media (min-width: $tablet) {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -20px;
    }

    .movie-card {
        @media (min-width: $tablet) {
            margin: 0 20px 30px;
            width: calc(50% - 40px);
        }

        @media (min-width: $laptop) {
            width: calc(100%/3 - 40px);
        }
    }
}

.no-movies {
    text-align: center;
    padding: 100px 0;
}